version: 2.1
orbs:
    node: circleci/node@4.7.0
jobs:
    lint:
        executor:
            name: node/default
            tag: "16.6"
        steps:
            - checkout
            - run: npm install
            - run: npm run lint --ws
    test:
        executor:
            name: node/default
            tag: "16.6"
        steps:
            - checkout
            - run: npm install
            - run: npm run build -w common
            - run: npm run test --ws --if-present
    docker-push:
        machine: true
        steps:
            - checkout
            - run: docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_ACCESS_KEY
            - run: ./run docker-build-tag-push
workflows:
    ci-cd:
        jobs:
            - lint
            - test
            - docker-push:
                  requires:
                      - lint
                      - test
                  filters:
                      branches:
                          only:
                              - main
